
.App {
  font-family: sans-serif;
  margin: 2rem;
  background-color: rgb(232, 239, 247);
  border-radius: 10px;
}

.field {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.field input[type="text"] {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.field select {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.field button {
  background-color: #f44336;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.ofield {
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
}

.ofield input[type="text"] {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.ofield button {
  background-color: #f44336;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.objectField {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.index {
  font-weight: bold;
  margin-bottom: 1rem;
}

.objectField .field {
  margin-bottom: 0.5rem;
}

.demo {
  margin-left: 2rem;
}

.btn {
  display: inline-block;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin:10px 0px 5px 10px;
}

.btn:hover {
  background-color: #3e8e41;
}

.addbtn {
  margin-right: 16px;
}

.deletebtn {
  margin-left: 16px;
}


.addbtn {
  background-color: #4CAF50;
}

.deletebtn {
  background-color: #f44336;
}

.upperIndex {
  /* margin-top: 1rem; */
  /* border-top: 2px solid rgb(205, 202, 202); */
  border: 2px solid rgb(205, 202, 202);
  padding: 1rem;
}
